@import url('colors-wlogout.css');

* {
	background-image: none;
}

window {
    background-color: rgba(17, 17, 27, 0.8);
}

button {
    color: @text-color;
	background-color: @button-color;
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	border-radius: 20px;
	box-shadow: none;
	text-shadow: none;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
	animation: gradient_f 20s ease-in infinite;
}

button:hover#lock {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-right : 30px; */
	/* margin-bottom : 30px; */
	/* border-radius: 20px; */
	/* animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

button:hover#logout {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-right : 30px; */
	/* margin-top : 30px; */
	/* border-radius: 20px; */
	/*  animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

button:hover#shutdown {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-left : 20px; */
	/* margin-bottom : 30px; */
	/* border-radius: 20px; */
	/* animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

button:hover#reboot {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-left : 30px; */
	/* margin-top : 30px; */
	/* border-radius: 20px; */
	/* animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

button:hover#suspend {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-left : 30px; */
	/* margin-top : 30px; */
	/* border-radius: 20px; */
	/* animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

button:hover#hibernate {
	background-color: @hover-color;
	/* background-size: 25%; */
	/* margin-left : 30px; */
	/* margin-top : 30px; */
	/* border-radius: 20px; */
	/* animation: gradient_f 20s ease-in infinite; */
	/* transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); */
}

#lock {
	background-image: image(url("icons/white/lock_white.png"), url("icons/white/lock_white.png"));
}

#logout {
	background-image: image(url("icons/white/logout_white.png"), url("icons/white/logout_white.png"));
}

#shutdown {
	background-image: image(url("icons/white/shutdown_white.png"), url("icons/white/shutdown_white.png"));
}

#reboot {
	background-image: image(url("icons/white/reboot_white.png"), url("icons/white/reboot_white.png"));
}

#suspend {
	background-image: image(url("icons/white/suspend_white.png"), url("icons/white/suspend_white.png"));
}

#hibernate {
	background-image: image(url("icons/white/hibernate_white.png"), url("icons/white/hibernate_white.png"));
}